* {
	box-sizing: border-box;
	font-family: sans-serif;
}

::-webkit-scrollbar {
	width: 0;
}
html,
body {
	margin: 0;
	height: 100%;
}
body {
	background-color: #303030;
	color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 3cm;
}

#nav {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px 50px;
	width: fit-content;
	height: fit-content;

	padding: 15px;
	border-radius: 10px;
}

#nav a {
	padding: 0 10px;
	text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
	color: whitesmoke;
	font-size: 25px;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
}

#nav a:hover {
	color: #950740;
}

#main {
	max-width: 850px;
	margin: 0 10px;

	font-size: smaller;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	gap: 1cm;
	background-color: #4e4e50;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.781);
	padding: 1cm 0;
}

fieldset {
	border: none;
	box-shadow: 0px 0px 10px 1px rgba(27, 27, 27, 0.781);
	box-sizing: border-box;
	width: 90%;
	padding: 20px;
}
fieldset legend {
	font-size: 30px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

fieldset p {
	font-size: 15px;
	font-weight: lighter;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

fieldset ul {
	margin: 0;
	padding: 0;
}
fieldset ul li {
	margin: 15px;
	padding: 0;
}

footer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	gap: 20px;
	width: fit-content;
	max-width: 700px;
	box-sizing: border-box;
	padding: 17px;
	margin-bottom: 10px;
	background-color: none;

	text-align: center;
	align-self: flex-end;
}
footer p {
	margin: unset;
}
a {
	color: #c3073f;
	font-weight: bold;
}
a:hover {
	color: crimson;
}
@media (max-width: 450px) {
	#nav {
		flex-direction: column;
		align-self: flex-start;
	}
}
