::-webkit-scrollbar {
	width: 0;
}
* {
	box-sizing: border-box;
	font-family: sans-serif;
} 
html {
	height: 100%;
}
@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
body {
	background: linear-gradient(-45deg, #303030,gray, #4e4e50);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	width: 100%;
	min-height: 100%;
	height: fit-content;
	padding: 0;
	margin: 0;
	background-color: #303030;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 3cm;
}
#nav {
	display: block;
	height: 50px;
	width: fit-content;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px 50px;
	width: fit-content;
	height: fit-content;

	padding: 15px;
	border-radius: 10px;
}

#nav a {
	padding: 0 10px;

	text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
	color: whitesmoke;
	font-size: 25px;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
}

#nav a:hover {
	color: #950740;
}
form {
	width: 80%;
}
#wrapper {
	width: 100%;
}
#searcher {
	max-width: 600px;
	width: 90%;
	font-size: 35px;
	padding: 10px;
	text-indent: 25px;
	height: 1.1cm;
	background-color: #303030;
	border: none;
	outline: none;
	color: white;
	margin-bottom: 20px;
	border-bottom: 3px solid white;
}
#container {
	background: #252525;
	border-bottom: 20px solid #252525;
	padding: 20px;
	overflow: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: fit-content;
	max-height: 555px;
	align-items: stretch;
	justify-content: flex-start;
	gap: 25px; 
	min-width: 60%;
	width: fit-content;
	margin-top: 25px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#container #template {
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;  
	gap: 15px;
	margin-left: 3%;
	padding: 5px;
	max-width: 450px; 
	background: gray; 
	text-overflow: ellipsis;
}
#container #template #identity span {
	text-overflow: clip;
	font-size: 25px;
	font-weight: bold;
	color: white;
	font-family: sans-serif;
}
#container #template #identity span:nth-child(2) {
	font-size: larger;
	font-weight: normal;
}
#container #template #identity {
	height: 100%; 
	padding-right: 10px; 
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 5px;
}
footer { 
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	gap: 20px;
	width: fit-content;
	max-width: 700px; 
	box-sizing: border-box; 
	padding: 17px;
	margin-bottom: 10px;  

	text-align: center;
	align-self: flex-end;
}
footer p {
	margin: unset;
	
} 
a {
	color: #c3073f; 
	font-weight: bold;
}
a:hover{
	color: crimson;
}
@media (max-width:450px) {
	#nav {
		flex-direction: column;
		align-self: flex-start;
	}
}
@media screen and (max-width: 500px) {
	#nav {
		flex-direction: column;
	}
	input {
		font-size: small;
	}
	#container #template #identity span {
		font-weight: bold;
		font-size: 17px;
	}
	#container #template #identity span:nth-child(2) {
		font-size: unset;
	}
}
@media only screen and (max-width: 1000px) {
	#wrapper {
		width: 90%;
	}
	#searcher {
		font-size: 20px;
		width: 100%;
	}
	#searchContainer {
		width: 100%;
	}
}

@media only screen and (max-width: 750px) {
	form {
		width: 90%;
	}
	#wrapper {
		justify-content: center;
		align-items: center;
	}
}
