* {
	box-sizing: border-box;
	font-family: sans-serif;
	color: whitesmoke; 
	text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar {
	width: 0;
}
body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
body {
	background: linear-gradient(-45deg, #303030, gray, #4e4e50);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	min-height: 100%;
	height: fit-content;
	background-color: #303030;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1cm;
}

#nav {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px 2cm;
	max-width: 80%;
	height: fit-content;
	padding-top: 15px;
	border-radius: 10px;

	width: 100%;
}

#nav #pages {
	min-width: fit-content;
	gap: 20px 1cm;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
#nav a {
	padding: 0 10px;
	font-family: sans-serif;
	color: whitesmoke;
	font-size: 25px;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
}
#nav a:hover {
	color: #950740;
}
#nav #account {
	display: flex;
	flex-direction: row;
	gap: 10px;
	font-family: sans-serif;
	color: whitesmoke;
	font-size: 25px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#nav #account img {
	border-radius: 100%;
	box-shadow: 0px 0px 10px 1px rgba(27, 27, 27, 0.781);
	background-color: #c3073f;
	border: 3px solid #c3073f;
}
#wrapper {
	width: 90%;
	height: 100%;
	color: white;
	font-family: sans-serif;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
}

#player {
	min-height: 200px;
	box-sizing: border-box;
	padding: 20px;
	width: 100%;
	max-width: 350px;
	max-height: fit-content;
	background-color: #4e4e50;
	box-shadow: 0px 0px 10px 1px rgba(27, 27, 27, 0.781);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-wrap: nowrap;
	gap: 30px;
}
#cwrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 10px;
	margin-left: 10%;
}
#player #identity {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	margin-top: 10px;
}
#identity::before {
	top: -24px;
	font-weight: bold;
	color: crimson;
	content: "currently playing ";
	position: absolute;
}
#player #identity #name span a,
#history a {
	text-decoration: none;
	color: inherit;
}
#player #identity #name span a:hover,
#history a:hover {
	text-decoration: underline;
	color: #950740;
}
#player #identity #name span:nth-child(1) a {
	font-weight: bolder;
}

#player #identity #name {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: flex-start;
	font-family: sans-serif;
	color: whitesmoke;
	font-size: 18px;
}
#player #history {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 5px;
	position: relative;
	width: 100%;
	margin-top: 10px;
}
#player #history::before {
	top: -24px;
	display: block;
	font-weight: bold;
	color: crimson;
	content: "history";
	position: absolute;
}

#logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	font-size: 10px;
}
#spotify_logo {
	width: 71px;
	margin: 12.5px;
	z-index: 10;
}

#after {
	font-weight: bold;
	top: 90px;
	color: #c3073f;
	align-self: flex-end;
	margin-right: 10px;
	margin-bottom: 10px;
}
#player #history > div {
	position: relative;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#player #history > div,
#identity {
	cursor: pointer;
	display: flex;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	background-color: #434343;
	padding: 3px;
}
#identity {
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#introduction {
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
		0px 18px 23px rgba(0, 0, 0, 0.1);
	width: fit-content;
	box-sizing: border-box;
	padding: 20px;
	flex-grow: 0.5;
	font-size: 1.5em;
	background-color: #4e4e50;
	box-shadow: 0px 0px 10px 1px rgba(27, 27, 27, 0.781);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	column-gap: 1cm;
}
#introduction #para {
	flex-grow: 1;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
}
#para p {
	margin: 0;
}
#para h1 {
	margin: none;
}
#para img {
	max-width: 250px;
	flex-grow: 1;
}
#searchnow {
	cursor: pointer;
	border: none;
	font-size: 1em;
	margin-top: 25px;
	font-weight: bold;
	background-color: #c3073f;
	text-shadow: none;
	color: rgb(218, 218, 218);
	padding: 10px 20px;
	box-shadow: 0px 0px 10px 1px rgba(27, 27, 27, 0.781);
	text-decoration: none;
}
#introduction #images {
	position: relative;
	height: 300px;
	min-width: 170px;
	flex-grow: 1;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#introduction #images img {
	position: absolute;
	height: 300px;
	box-sizing: border-box;
}
#introduction #images img:nth-child(1) {
	transform-origin: 50% 50%;
	transform: rotate(-10deg) scale(0.6);
	z-index: 0;
	top: -50px;
}
#introduction #images img:nth-child(2) {
	transform-origin: 50% 50%;
	transform: rotate(10deg) scale(0.7);
	z-index: 0;
	top: 20px;
}
#introduction #images img:nth-child(3) {
	transform-origin: 0% 0%;
	transform: rotate(-10deg) scale(0.75);
	top: 140px;
}

#login {
	cursor: pointer;
	padding: 5px;
	border: none;
	font-size: larger;
	background-color: #c3073f;
	align-self: flex-start;
	display: none;
}
#player {
	position: relative;
}
#player #login {
	position: absolute;
	top: 20%;
	right: 40%;
}
#player #login::before {
	position: absolute;
	content: "to display the player";
	color: white;
	font-size: medium;
	text-overflow: clip;
	width: 150px;
	left: -50px;
	top: 50px;
}
footer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	gap: 20px;
	width: fit-content;
	max-width: 700px;
	box-sizing: border-box;
	padding: 17px;
	margin-bottom: 10px;
	background-color: none;
	font-family: sans-serif;
	text-align: center;
	align-self: flex-end;
}
footer p {
	margin: unset;
}
a {
	color: #c3073f;
	font-weight: bold;
}
a:hover {
	color: crimson;
}
@media only screen and (max-width: 1100px) {
	html {
		overflow: auto;
	}
	#introduction {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-width: fit-content;
		width: 88%;
	}
	#wrapper {
		width: 90%;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		min-width: fit-content;
	}
	#player {
		justify-self: flex-start;
		align-self: flex-start;
	}
}
@media only screen and (max-width: 625px) {
	#nav #pages {
		flex-direction: column;
		width: fit-content;
		align-items: flex-start;
		justify-self: flex-start;
	}
	#introduction {
		width: 100%;
	}
}
@media only screen and (max-width: 925px) {
	#nav {
		height: fit-content;
		justify-content: space-around;
		align-items: center;
		max-width: unset;
		width: 90%;
	}
	#nav #pages {
		row-gap: 10px;
		justify-self: flex-end;
	}
}
@media only screen and (max-width: 500px) {
	#nav {
		flex-direction: column;
	}
}
