body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100%;
	height: fit-content;
	background-color: #121212;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1cm;
}

#nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px 2cm;
	max-width: 80%;
	height: fit-content;
	padding-top: 15px;
	border-radius: 10px;

	width: 100%;
}

#nav #pages {
	min-width: fit-content;
	gap: 20px 1cm;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
#nav a {
	padding: 0 10px;
	font-family: sans-serif;
	color: whitesmoke;
	font-size: 25px;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
}
#nav a:hover {
	color: rgb(89, 223, 89);
}
#nav #account {
	display: flex;
	flex-direction: row;
	gap: 10px;
	font-family: sans-serif;
	color: whitesmoke;
	font-size: 18px;
}
#nav #account img {
	border-radius: 100%;
	background-color: #1ed760;
	border: 3px solid #1ed760;
}
#wrapper {
	width: 90%;
	height: 100%;
	color: white;
	font-family: sans-serif;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
}

#player {
	min-height: 200px;
	box-sizing: border-box;
	padding: 20px;
	width: 100%;
	max-width: 350px;
	max-height: fit-content;
	background-color: #191919;
	box-shadow: 0px 0px 10px 1px rgba(27, 27, 27, 0.781);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-wrap: nowrap;
	gap: 30px;
}
#player #identity {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	position: relative;
	margin-top: 10px;
}
#identity::before {
	top: -24px;
	font-weight: bold;
	color: #d1d4d2;
	content: "currently playing ";
	position: absolute;
}
#player #identity #name span a,
#history a {
	text-decoration: none;
	color: inherit;
}
#player #identity #name span a:hover,
#history a:hover {
	text-decoration: underline;
	color: rgb(247, 238, 161);
}
#player #identity #name span:nth-child(1) a {
	font-weight: bolder;
}

#player #identity #name {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: flex-start;
	font-family: sans-serif;
	color: whitesmoke;
	font-size: 18px;
}
#player #history {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 5px;
	position: relative;
	width: 100%;
	margin-top: 10px;
}
#player #history::before {
	top: -24px;
	font-weight: bold;
	color: #d1d4d2;
	content: "history";
	position: absolute;
}
#identity::after,
#player #history div::after {
	content: "Get Lyrics";
	text-decoration: underline;
	color: #1ed760;
	position: absolute;
	top: 45px;
	right: 10px;
}
#identity {
	border-bottom: 25px solid #252525;
}
#identity::after {
	top: 90px;
}
#player #history div {
	position: relative;
	border-bottom: 20px solid #252525;
	gap: 10px;
}
#player #history div,
#identity {
	display: flex;
	background-color: #252525;
	flex-direction: row;
	padding: 3px;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}
#introduction {
	width: fit-content;
	box-sizing: border-box;
	padding: 20px;
	flex-grow: 0.5;
	font-size: 1.5em;
	background-color: #191919;
	box-shadow: 0px 0px 10px 1px rgba(27, 27, 27, 0.781);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 1cm;
}
#introduction #para {
	flex-grow: 1;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
#para p {
	margin: 0;
}
#searchnow a {
	color: #1ed760;
}
#introduction #images {
	position: relative;
	height: 300px;
	min-width: 170px;
	flex-grow: 1;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#introduction #images img {
	position: absolute;
	height: 300px;
	box-sizing: border-box;
}
#introduction #images img:nth-child(1) {
	transform-origin: 0% 0%;
	transform: rotate(-9deg) scale(0.6);
	z-index: 0;
	top: 30px;
	left: -40px;
}
#introduction #images img:nth-child(2) {
	transform-origin: 50% 50%;
	transform: rotate(10deg) scale(0.7);
	z-index: 0;
	top: 20px;
	left: -40px;
}
#introduction #images img:nth-child(3) {
	transform-origin: 0% 0%;
	transform: rotate(-10deg) scale(0.75);
	left: -40px;
	top: 130px;
}

#login {
	cursor: pointer;
	padding: 5px;
	border: none;
	font-size: larger;
	background-color: #1ed760;
	align-self: flex-start;
	display: none;
}
#player {
	position: relative;
}
#player #login {
	position: absolute;
	top: 20%;
	right: 40%;
}
#player #login::before {
	position: absolute;
	content: "to display the player";
	color: white;
	font-size: medium;
	text-overflow: clip;
	width: 150px;
	left: -50px;
	top: 50px;
}
footer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	align-self: flex-end;
	gap: 20px 0;
	box-sizing: border-box;
	padding: 17px;
	margin: 10px;
	border-radius: 5px;
	background-color: #191919c7;
}
footer p {
	text-overflow: ellipsis;
	color: whitesmoke;
	font-family: sans-serif;
	text-align: center;
	height: fit-content;
	margin: unset;
}
footer a {
	color: unset;
}

@media only screen and (max-width: 500px) {
	#nav {
		flex-direction: column;
	}
}
@media only screen and (max-width: 625px) {
	#nav #pages {
		flex-direction: column;
		width: fit-content;
		align-items: flex-start;
		justify-self: flex-start;
	}
}
@media only screen and (max-width: 910px) {
	#nav {
		height: fit-content;
		justify-content: space-around;
		align-items: center;
		max-width: unset;
		width: 90%;
	}
	#nav #pages {
		row-gap: 10px;
		justify-self: flex-end;
	}
}
@media only screen and (max-width: 1100px) {
	html {
		overflow: auto;
	}
	#introduction {
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-width: fit-content;
	}
	#wrapper {
		width: 90%;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		min-width: fit-content;
	}
	#player {
		justify-self: flex-start;
		align-self: flex-start;
	}
}
