*{
	box-sizing: border-box;	
	font-family: sans-serif;
}
[contenteditable='true']{
	outline: none;
}


@font-face {
	font-family: Gotham;
	font-weight: bold;
	src: url("../Fonts/GothamBold.ttf");
}

@font-face {
	font-family: Gotham;
	font-weight: normal;
	src: url("../Fonts/GothamMedium.ttf");
}

:root{
	--bgc :#303030
	--wrapper : #4e4e50
}
html,body {
	height: 100%;
} 

body {
	display: flex;
	flex-direction: column;
	background-color: #303030; 
	margin: 0;
	min-width: 300px;
	justify-content: space-between;
	align-items: center;
	gap: 1cm;
	
		width: 100%;
	min-width: 320px;
}
#body {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap; 
}

#nav {
	display: block;
	height: 50px;
	width: fit-content;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px 50px;
	width: fit-content;
	height: fit-content;

	padding: 15px;
	border-radius: 10px;
}

#nav a {
	padding: 0 10px;
	text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
	color: whitesmoke;
	font-size: 25px;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
}

#nav a:hover {
	color: #950740;
}


.container {
	background-color: #950740;
	position: relative;
	height: 100%;
	max-height: 500px;
	max-width: 50%;
	min-width: 300px; 
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.65);
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 8px;
}

.container-inner {
	width: 95%;
	height: calc(100% - 10px);
	overflow-y: scroll;
	overflow-x: hidden;
	align-self: flex-end;
}
  
p {
	color: white;
	margin: 12px 0;
	font-size: 18px;
	font-family: sans-serif; 
}

.container-inner #bar {
	padding: 10px 0px;
}

.marker {
	text-decoration: underline;
}

.scroll-marker {
	position: absolute;
	height: 100%;
	width: 12px;
	pointer-events: none;
	top: 0;
	right: 0;
}

.scroll-marker span {
	/* markers */
	position: absolute;
	width: 100%;
}

/* width */
::-webkit-scrollbar {
	width: 0;
}

.container-inner::-webkit-scrollbar {
	width: 12px;
}

/* Track */
.container-inner::-webkit-scrollbar-track {
	background: #950740;
}

/* Handle */
.container-inner::-webkit-scrollbar-thumb {
	background: crimson;
}

#wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	width: fit-content;
}

#mainContainer {
	background-color: #191414;
	height: fit-content;
	width: 320px;
	padding: 25px;
	border-radius: 25px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-start;
	gap: 25px;
}

#identity {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: nowrap;
}

#identity > img {
	height: 80px;
	width: 80px;
	background-color: black;
}

#identity div {
	display: flex;
	flex-direction: column;
}

#name {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: nowrap;
}

#name p {
	color: white;
	padding: 0;
	margin: 3px;
	margin-left: 22px;
}

#name p:nth-child(1) {
	text-overflow: ellipsis;
	font-family: Gotham;
	font-weight: bold;
	font-size: 1.2em;
}

#name p:nth-child(2) {
	font-family: sans-serif;
	font-size: 1em;
}

#bar {
	height: auto;
	margin: 2px 0;
	font-family: Gotham;
	font-size: 1.5em;
	color: Black;
	border-radius: 5px;
	outline: 0px solid transparent;
}

#barz #bar {
	font-size: 1.425em;
	color: white;
	padding: 1.5px 0;
}

#downloader {
	background: none;
	font-size: 1.6em;
	cursor: pointer;
	text-decoration: 1.5px underline;
	border: none;
	font-weight: bolder;
	color: white;
	margin: 30px 0;
}

footer { 
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	gap: 10px;
	width: fit-content;
	max-width: 700px; 
	box-sizing: border-box; 
	padding: 14px; 
	background-color: none; 

	text-align: center;
	align-self: flex-end;
}
footer p {
	margin: unset;
	
} 
a {
	color: #c3073f; 
	font-weight: bold;
}
a:hover{
	color: crimson;
}
@media only screen and (max-width: 1050px) {
	body {
		height: fit-content;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#lyricsContainer { 
		width: 75%;
		max-width: unset;
	}

	p {
		margin: 10px 0;
	}
}

@media (max-width: 500px) {
	#nav {
		flex-direction: column;
		align-self: flex-start;
	}
	#lyricsContainer {
		width: 90%;
	}
}
