<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="index.css">
    <script src="./clienthome.js" defer></script>
</head>

<body>
    <nav id="nav">
        <div id="pages">
            <a href="/">home</a>
            <a href="/about">About</a>
            <a href="/privacy">Privacy</a>
        </div>
        <div id="account">
            <button id="login" onclick="window.location='/authorize'">Log in</button>
            <p>test</p>
            <img src="" alt="" height="64px" width="64px">
        </div>
    </nav>
    <div id="wrapper">
        <div id="player">
            <div id="identity">
                <img src="" alt="" height="80px" width="80px">
                <div id="name">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <button id="login" onclick="window.location='/authorize'">Log in</button>
            <div id="history"> 
            </div>
        </div>
        <div id="introduction">
            <div id="para">
                <h1>Mythical lyrics</h1>
                <p>Music lyrics at a glance</p>
                <h6 id="searchnow"><a  href="/search">Try it out now!</a></h6>
            </div>
            <div id="images">
                <img src="svg/lyricexp1.png" alt="" srcset="">
                <img src="svg/lyricexp2.png" alt="" srcset="">
                <img src="svg/lyricexp3.png" alt="" srcset="">
            </div>
        </div>
    </div>
    <footer>
        <p>Made By <a href="https://github.com/MythicalMayhem/sgxlyrics">MythicalMayhem</a></p>
        <p>Made Possible By
            <a href="https://www.genius.com" target="_blank">Genius.com</a> and
            <a href="https://www.spotify.com" target="_blank">spotify.com</a> api
        </p>
    </footer>

    <script>
        // function geniusredir() {
        //     var trackname = document.getElementById('trackname').value.trim()
        //     var artistname = document.getElementById('artistname').value.trim()
        //     if (trackname.length > 0 && artistname.length > 0) {
        //         var newurl = new URL(window.location.protocol + '//' + window.location.hostname + ':' + window.location.port)
        //         newurl.pathname = '/geniuslyrics'
        //         newurl.searchParams.set("artist", artistname)
        //         newurl.searchParams.set("track", trackname)
        //         console.log(trackname, artistname)
        //         window.location.href = newurl.toString()
        //     }
        // }
    </script>
</body>

</html>