<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="sheets/home.css">
    <script src="scripts/home.js" defer></script>
</head>

<body>
    <nav id="nav">
        <div id="pages">
            <a href="/">home</a>
            <a href="/about">About</a>
            <a href="/privacy">Privacy</a>
            <a id="logout" onclick="logout()" href="/"  >Log out </a>
        </div>
        <div id="account">
            <button id="login" onclick="window.location='/authorize'">Log in</button>
            <p>test</p>
            <img src="" alt="" height="64px" width="64px">
        </div>
    </nav>
    <div id="wrapper">
        <div id="player">
            <div id="identity">
 
            </div>
            <button id="login" onclick="window.location='/authorize'">Log in</button>
            <div id="history">
            </div>
        </div>
        <div id="introduction">
            <div id="para">
                <h1>Mythical lyrics</h1>
                <p>Music lyrics at a glance</p>
                <h6 id="searchnow"><a href="/search">Try it out now!</a></h6>
            </div>
            <div id="images">
                <img src="src/lyricexp1.png" alt="" srcset="">
                <img src="src/lyricexp2.png" alt="" srcset="">
                <img src="src/lyricexp3.png" alt="" srcset="">
            </div>
        </div>
    </div>
    <footer>
        <p>Made By <a href="https://github.com/MythicalMayhem/sgxlyrics">MythicalMayhem</a></p>
        <p>Made Possible By
            <a href="https://www.genius.com" target="_blank">Genius.com</a> and
            <a href="https://www.spotify.com" target="_blank">spotify.com</a> api
        </p>
    </footer>
 
</body>

</html>