<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy policy</title>
    <link rel="stylesheet" href="policy.css">
</head>

<body>
    <nav id="nav">
        <a href="/">home</a>
        <a href="/about">About</a>
        <a href="/privacy">Privacy</a>
    </nav>
    <div id="container">
        <h1>Privacy Policy</h1>
        <p>
            MythicalLyrics was developed as an open source app powered by the
            Spotify Web API. By choosing to use this app, you
            agree to the use of your Spotify account token to search for tracks
            and your Spotify account username and data for your top
            artists and tracks.
        </p>
        <p>
            None of the data used by MythicalLyrics is stored or collected anywhere, and
            it is NOT shared with any third parties. All information is used solely
            for display.
        </p>
        <p>
            Although you can rest assured that your data is not being stored or used
            maliciously, if you would like to revoke MythicalLyrics's permissions, you
            can visit
            <a href="http://www.spotify.com/account/apps/?_ga=2.57194153.2059435232.1677244602-1044990631.1616788427"
                target="_blank">your
                apps page</a>
            and click "REMOVE ACCESS" on MythicalLyrics.
            <a href="https://support.spotify.com/us/article/spotify-on-other-apps/" target="_blank">Here</a>
            is a more detailed guide for doing so.
        </p>
    </div>
    <footer>
        <p>Made By <a href="https://github.com/MythicalMayhem/MythicalLyrics">MythicalMayhem</a></p>
        <p>Made Possible By
            <a href="https://www.genius.com" target="_blank">Genius.com</a> and
            <a href="https://www.spotify.com" target="_blank">spotify.com </a> api
        </p>
    </footer>
</body>
</html>