body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100%;
	height: fit-content;
	background-color: #121212;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1cm;
}

#nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px 2cm;
	width: 80%;
	min-width: 250px;
	height: fit-content;
	padding-top: 15px;
	border-radius: 10px;
}

#nav #pages {
	gap: 20px 1cm;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#nav a {
	padding: 0 10px;
	font-family: sans-serif;
	color: whitesmoke;
	font-size: 25px;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
}
#nav a:hover {
	color: rgb(89, 223, 89);
}
#nav #account {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
#nav #account p {
	font-family: sans-serif;
	color: whitesmoke;
	font-size: 18px;
}
#nav #account img {
	border-radius: 100%;
	border: 3px solid #1ed760;
}
#wrapper {
	min-width: 200px;
	width: 90%;
	height: 100%;
	color: white;
	font-family: sans-serif;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
}

#player {
	box-sizing: border-box; 
	padding: 20px; 
	width: 100%;
	max-width: 350px;
	min-width: 250px;
	max-height: fit-content;
	background-color: #191919;
	box-shadow: 0px 0px 10px 1px rgba(27, 27, 27, 0.781);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: nowrap;
	gap: 30px;
}
#player #identity {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}
#player #identity #name span:nth-child(1){
	font-weight: bolder;
}
#player #identity #name {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: flex-start;
	font-family: sans-serif;
	color: whitesmoke;
	font-size: 18px;
}
#identity #Time {
	align-self: flex-end;
	margin-left: auto;
	width: fit-content;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
#player #tracker {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
#player #tracker #line {
	height: 2px;
	width: 89%;
	background-color: #fff;
}

#player #tracker #line #Time span {
	font-size: unset;
}

#introduction {
	width: fit-content;
	box-sizing: border-box;
	padding: 10px;
	flex-grow: 0.5;
	font-size: 1.5em;
	background-color: #191919;
	box-shadow: 0px 0px 10px 1px rgba(27, 27, 27, 0.781);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#introduction #para {
	width: 50%;
	min-width: 280px;
	justify-self: start;
}
#introduction #images { 
	position: relative;
	height: fit-content;
	height: 300px; 
	width:  225px;
	box-sizing: border-box;
}
#introduction #images img{
	position: absolute;
	height: 300px; 
	transform-origin: 50% 0%;
	box-sizing: border-box;
} 
#introduction #images img:nth-child(1){
	transform-origin: 50% 50%; 
	transform: rotate(-20deg) scale(0.6);
	z-index: 0;
	left: -80px;
	top: 80px;
}
#introduction #images img:nth-child(2){
	transform-origin: 50% 50%; 
	transform: rotate(10deg) scale(0.75);
	z-index: 0;
	top: 30px;
}
#introduction #images img:nth-child(3){
	transform-origin: 50% 50%; 
	transform: rotate(-10deg) scale(0.75);
	left: -20px;
	top: -30px;
}

#login {
	padding: 5px;
	border: none;
	font-size: larger;
	background-color: #1ed760;
	align-self: flex-start;
}
#login::after {
	position: absolute;
	content: "to display the player";
	color: white;
	text-indent: 10px;
	font-size: medium;
}
footer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	align-self: flex-end;
	gap: 20px 0;
	box-sizing: border-box;
	padding: 17px;
	margin: 10px;
	border-radius: 5px;
	background-color: #191919c7;
}
footer p {
	text-overflow: ellipsis;
	color: whitesmoke;
	font-family: sans-serif;
	text-align: center;
	height: fit-content;
	margin: unset;
}
footer a {
	color: unset;
}
@media only screen and (max-width: 775px) {
	#nav {
		height: fit-content;  
		flex-direction: column;
		justify-content: center;
		align-items: center;
	} 
	#introduction {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
}

@media only screen and (max-width: 450px) {
	#nav #pages {
		 flex-direction: column;
	}
}